body {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.mapCanvas {
  margin:auto;
  width:700px; 
  height:540px;
}

.selected {
  background-color: lightgray;
}

input.origin {
  width: 500px;
}